
<div ng-controller="truckController" layout="column"  ng-cloak-class="md-inline-form" style="min-height: 100vh,overflow:hidden;">

	<md-toolbar class = "md-primary" layout="row">
		<div class="md-toolbar-tools">
			<md-button aria-label="menu" class="md-fab md-mini md-accent md-hue-1" ng-href="/company/trucklist/" layout="row">
				<md-icon>arrow_back</md-icon>
			</md-button>
			<h3>Add New Trucks</h3>
		</div>
	</md-toolbar>

	<md-content layout="row" style="height:100%">
		<div flex="20" md-colors="{background: 'Indigo-50'}"></div>
		<div flex="60" layout-padding>
			<form name="userForm">
				<script type="text/ng-template" id="generic-messages">
					<p ng-message="required">This field is required.</p>
					<p ng-message="minlength">This field is too short.</p>
					<p ng-message="maxlength">This field is too long.</p>
					<div ng-message="compareTo">Must match the previous entry</div>
				</script> 

				<div layout="row">
					<md-input-container flex="40" class="md-block" flex-gt-xs>
						<label>Truck Id</label>

						<input name="name" ng-model="truck.name" ng-minlength="3" 
						ng-maxlength="30" ng-pattern="/^[a-z0-9]+$/i" required >

						<div ng-messages="userForm.name.$error" ng-show="userForm.name.$dirty">
							<p ng-message="pattern">Alias can only be alphanumeric.</p>
							<div ng-messages-include="generic-messages"></div>
						</div>
					</md-input-container>
					<div flex="20"></div>

					<md-input-container flex="40" class="md-block">
						<label>Unit_Number</label>
						<input ng-model="truck.unit_number" required="">
					</md-input-container>
				</div>






				<div layout-gt-sm="row">
					<div flex-gt-xs class="platemargin">
						<label>Plate Expiry</label>
						<md-datepicker ng-model="truck.epoch" md-placeholder=" Date"></md-datepicker>
					</div>
					<div flex="20"></div>
					<md-input-container flex="40" class="md-block">
						<label>fuel_capacity</label>
						<input type="number" ng-model="truck.fuel_capacity" required="" >
					</md-input-container>



				</div>
				<div layout="row">
					<md-input-container flex="40" class="md-block">
						<label> Jurisdiction</label>
						<input ng-model="truck.jurisdiction" required="">
					</md-input-container>
					<div flex="20"></div>

					<md-input-container flex="40">
						<label>Fuel Capacity Unit</label>
						<md-select name="fuel_capacity_unit" ng-model="truck.fuel_capacity_unit" required>
							<md-option value="gallon">Gallon</md-option>
							<md-option value="litre">Litre</md-option>
							
						</md-select>
						<div class="errors" ng-messages="myForm.fuel_capacity_unit.$error">
							<div ng-message="required">Required</div>
						</div>
					</md-input-container>


				</div>

				<md-input-container class="md-block">
					<label>Plate_number</label>
					<input ng-model="truck.plate_number" required="">
				</md-input-container>

				<md-input-container  class="md-block">
					<label>Vin_Number</label>
					<input name="vin" ng-model="truck.vin_number" ng-pattern="/^[a-z0-9]+$/i" required >

						<div ng-messages="userForm.vin.$error" ng-show="userForm.vin.$dirty">
							<p ng-message="pattern">Alias can only be alphanumeric.</p>
						
						</div>
				</md-input-container>

				
				<section layout="row" layout-align="center start">
					<md-button class="md-raised md-primary" ng-click="submitTruckForm()">ADD TRUCK </md-button> 



				</section>

			</form>
		</div>
		<div flex="20" md-colors="{background: 'Indigo-50'}"></div>	
	</md-content>
	
</div>


<!-- {{company_id ? 'Update Company' : 'Add Company'}} -->