
<div ng-controller="companyController" layout="column" style="height: 100vh;overflow:hidden;" ng-init="initCompany();">
	<md-toolbar class = "md-primary" layout="row">
		<div class="md-toolbar-tools">
			<md-button aria-label="menu" class="md-fab md-mini md-accent md-hue-1" ng-href="/admin/companies/" layout="row">
				<md-icon>arrow_back</md-icon>
			</md-button>
			<h3>{{title}}</h3>
		</div>
	</md-toolbar>

	<md-content style="height: 100%;"  class="md-accent md-hue3" md-colors="{background:'Indigo-50'}">
		<section layout="row">
			<div flex="60" flex-offset="20">
				<div layout="column" layout-padding md-colors="{background:'Grey-50'}">
					<script type="text/ng-template" id="generic-messages">
						<p ng-message="required">This field is required.</p>
						<p ng-message="minlength">This field is too short.</p>
						<p ng-message="maxlength">This field is too long.</p>

					</script> 
					<form name="truckForm" layout="row" ng-show="company.id">
						<md-input-container flex="25" class="md-block">
							<label> Max Trucks</label>
							<input type="number" ng-model="company.max_trucks" name="max_trucks" ng-min="0" ng-disabled="!company.show_edit" required>
							<div ng-messages="truckForm.max_trucks.$error" ng-show="truckForm.max_trucks.$dirty">
								<p ng-message="min">Max trucks number cannot be less than zero.</p>
								<div ng-messages-include="generic-messages"></div>
							</div>
						</md-input-container>
						<div flex="10"></div>
						<md-input-container flex="25" class="md-block">
							<label>Max Drivers</label>
							<input type="number" ng-model="company.max_drivers" name="max_drivers" ng-min="0" ng-disabled="!company.show_edit" required>
							<div ng-messages="truckForm.max_drivers.$error" ng-show="truckForm.max_drivers.$dirty">
								<p ng-message="min">Max drivers number cannot be less than zero.</p>
								<div ng-messages-include="generic-messages"></div>
							</div>
						</md-input-container>
						<div flex="10" layout-align="center end" layout="column">
							<md-button ng-show="!company.show_edit" ng-click="company.show_edit=true;" class="md-icon-button">
								<md-icon> edit </md-icon>
							</md-button>
							<md-button ng-show="company.show_edit" ng-click="updateCompany();company.show_edit=false;" ng-disabled="truckForm.$invalid" class="md-icon-button">
								<md-icon class="md-dark"> done </md-icon>
							</md-button>
						</div>
						<div flex="30" layout-align="center end" layout="column">
							<md-switch ng-model="company.is_active" aria-label="{{company.is_active ? 'Enabled' : 'Disabled'}}" ng-change="enableDisableCompany($event)" class="md-block">
								{{company.is_active ? 'Enabled' : 'Disabled'}}
							</md-switch>
						</div> 
					</form>
					<md-divider class="md-primary m-lr--8" ng-show="company.id"></md-divider>
					<div class="clearfix"></div>
					<div layout="row" ng-show="company.id">
						<div flex="100" layout="column" layout-align="end center">Company Details</div>
						<div flex="10" layout="column" layout-align="end end">
							<md-icon ng-show="!company.edit" ng-click="company.edit=true;"> edit </md-icon>
						</div>
					</div>
					<md-divider class="m-lr--8" ng-show="company.id"></md-divider>
					<form name="formValidation" layout="row">
						<div flex="50">
							<md-input-container class="md-block">
								<label>Company Name</label>
								<input name="name" ng-model="company.name"  ng-minlength="4" ng-maxlength="30" ng-pattern="/^[a-z0-9\.\s]+$/i" required >
								<div ng-messages="formValidation.name.$error" ng-show="formValidation.name.$dirty ">
									<p ng-message="pattern">Name can only be alphanumeric with an optional dot and spaces.</p>
									<p ng-message="minlength">Name cannot be less than 4 characters.</p>
									<p ng-message="maxlength">Name cannot be longer than 50 characters.</p>

								</div>
							</md-input-container>
							<md-input-container class="md-block">
								<label>Company Alias</label>
								<input name="alias" ng-model="company.alias" ng-minlength="4" ng-maxlength="20" ng-pattern="/^\w+$/i" required>
								<div ng-messages="formValidation.alias.$error" ng-show="formValidation.alias.$dirty">
									<p ng-message="pattern">alias can only be alphanumeric with an optional underscore.</p>
									<p ng-message="maxlength">Username cannot be longer than 20 characters.</p>
								</div>
							</md-input-container>
							<md-input-container class="md-block">
								<label>Admin Username</label>
								<input name="user_name" ng-model="company.user_name" ng-minlength="4" ng-maxlength="20" ng-pattern="/^\w+$/i"  required>
								<div ng-messages="formValidation.user_name.$error" ng-show="formValidation.user_name.$dirty">
									<p ng-message="pattern">Username can only be alphanumeric with an optional underscore.</p>
									<p ng-message="minlength">Name cannot be less than 4 characters.</p>
									<p ng-message="maxlength">Username cannot be longer than 20 characters.</p>
									
								</div>
							</md-input-container>
					

								<md-input-container class="md-block">
									<label>Password</label>
									<input type="password" name="password" ng-model="company.password" required ng-minlength="6" ng-maxlength="20"  required>
									<div ng-messages="formValidation.password.$error" ng-show="formValidation.password.$dirty">
										<p ng-message="pattern">Password must be alphanumeric with atleast one special character (#?!@$%^&*-).</p>

										<p ng-message="maxlength">Password cannot be longer than 20 characters.</p>
										<div ng-messages-include="generic-messages"></div>
									</div>
								</md-input-container>


								<md-input-container class="md-block">
									<label> Confirm Password</label>
									<input type="password" name="confirm_password" ng-model="company.confirm_password" ng-pattern="{{company.password}}" required>
									<div ng-messages="formValidation.confirm_password.$error" ng-show="formValidation.confirm_password.$dirty">
										<p ng-message="pattern">Password not matching.</p>
										<div ng-messages-include="generic-messages"></div>
									</div>
								</md-input-container>
							</div>
							<md-divider layout-margin></md-divider>
							<div flex="50">
								<md-input-container class="md-block">
									<label>CVOR / USDOT Number</label>
									<input type="text" ng-model="company.legal_number" name="legal_number" ng-minlength="4" ng-maxlength="20" ng-pattern="/^[a-z0-9]+$/i" required>
									<div ng-messages="formValidation.legal_number.$error" ng-show="formValidation.legal_number.$dirty">
										<p ng-message="pattern">CVOR can only be alphanumeric.</p>
										<p ng-message="minlength">CVOR cannot be less than 4 characters.</p>
										<p ng-message="maxlength">CVOR cannot be longer than 20 characters.</p>
										<div ng-messages-include="generic-messages"></div>
									</div>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Phone</label>
									<input type="number" ng-model="company.phone" name="phone" ng-minlength="10" ng-maxlength="10" required/>
									<div ng-messages="formValidation.phone.$error" ng-show="formValidation.phone.$dirty">
										<p ng-message="maxlength">Phone cannot be longer than 10 characters.</p>
										<p ng-message="minlength">Phone should be atleat 10 characters.</p>
										<div ng-messages-include="generic-messages"></div>
									</div>
								</md-input-container>



							</md-input-container>
							<md-input-container class="md-block" >
								<label>Address</label>
								<input ng-model="company.add_line1" name="add_line1">
							</md-input-container>
							

							<md-input-container class="md-block">
								<label>Address</label>
								<input ng-model="company.add_line2" name="add_line2">
							</md-input-container>

							<div layout="row">
								<md-input-container flex="40" class="margin-0" >
									<label>City</label>
									<input ng-model="company.city" name="city" required>
									<div ng-messages="formValidation.city.$error"
									ng-show="formValidation.city.$dirty.required">
									<div ng-messages-include="generic-messages"></div>
								</div>

							</md-input-container>
							<div flex="20"></div>
							<md-input-container flex="40" class="margin-0" >
								<label>State</label>
								<input ng-model="company.state" name="state" required>
								<div ng-messages="formValidation.state.$error" ng-show="formValidation.state.$dirty">
									<div ng-messages-include="generic-messages"></div>
								</div>
							</md-input-container>
						</div>
					</div>
				</form>
				<div class="clearfix"></div>
				<div layout="row" layout-align="center start" layout-margin>
					<md-button  class="md-raised md-primary"  ng-click="updateCompany()">ADD Company</md-button>
					<span class="help-block" ng-show="formValidation.confirm_password.$error.match">Passwords do not match.</span>
				</div>
			</div>

		</div>

		<!--div flex="20" md-colors="{background:'Indigo-50'}"></div-->
	</section>
</md-content>
</div>


<!-- ng-disabled="formValidation.$invalid" -->
<!-- {{company_id ? 'Update Company' : 'Add Company'}} -->
<!-- <div ng-messages="formValidation.city.$error"
									 ng-show="formValidation.city.$dirty">
										<div ng-messages-include="generic-messages"></div>
									</div> -->