<div ng-controller="companyController" layout="column" style="height: 100vh;overflow:hidden;" ng-init="getCompanyList();">
    <md-toolbar class = "md-primary" layout="row" md-scroll-shrink>
        <div class="md-toolbar-tools">
            <md-button navigation ng-click="toggleLeft()" aria-label="menu" class="md-fab md-mini md-accent md-hue-1">
                <md-icon>menu</md-icon>

            </md-button>
         
<h3>Companies</h3>
        </div>

           <div class="md-toolbar-tools" layout-align="end center">
            <md-button aria-label="menu" class="md-fab md-mini md-accent md-hue-1" ng-href="/admin/company/0/" layout="row">
                <md-icon>add</md-icon>
            </md-button>
            <a href="/admin/company/0/">Add New Company</a>
        </div>
    </md-toolbar>
    <md-content layout="column" style="height:100%">
        <section>
            <md-subheader layout="column" class="md-primary">
                <div layout="row" flex="100">
                     <div flex="15"><b>Name</b></div>
                    <div flex="10"><b>Trucks</b></div>
                    <div flex="10"><b>Drivers</b></div>
                    <div flex="15"><b>Legal Number</b></div>
                    <div flex="10"><b>City</b></div>
                    <div flex="20"><b>Phone</b></div>
                    <div flex="15"><b>Access As</b></div>
                    <div flex="5">&nbsp;</div>
                </div>
            </md-subheader>

            <md-list>
                <md-list-item class="hover-list" ng-repeat="item in comp_list" style="padding:0 16px;">
                    <div flex="15">{{item.name}}</div>
                    <div flex="10">{{item.max_trucks}}</div>
                    <div flex="10">{{item.max_drivers}}</div>
                    <div flex="15">{{item.legal_number}}</div>
                    <div flex="10">{{item.city}}</div>
                    <div flex="20">{{item.phone}}</div>
                    <div flex="15">
                        <md-button class="md-icon-button" ng-click="signAsCompany(item.id)"/>
                            <md-icon layout-align="center center">remove_red_eye</md-icon>
                        </md-button>
                        {{item.admin}}
                    </div>
                    <div flex="5">
                        <md-button layout-align="center center" class="md-icon-button" ng-href="/admin/company/{{item.id}}/"/>
                            <md-icon>arrow_right</md-icon>
                        </md-button>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </section>
    </md-content>

  
</div>