
<div  ng-controller="gpsController" layout="column"  ng-cloak-class="md-inline-form" style="min-height: 100vh,overflow:auto;">

<md-toolbar class = "md-primary" layout="row">
    <div class="md-toolbar-tools">
      <md-button aria-label="menu" class="md-fab md-mini md-accent md-hue-1" ng-href="/admin/gpslist/" layout="row">
        <md-icon>arrow_back</md-icon>
      </md-button>
      <h3>{{title}}</h3>
    </div>
  </md-toolbar>

  <md-content layout="row" style="height:100%">
    <div flex="25" md-colors="{background: 'Indigo-50'}"></div>
    <div flex="50" layout-padding>
      <form name="userForm">



 <md-input-container class="md-block">
          <label>DeviceId</label>
          <input type="text" name="gps.device_id" ng-model="gps.device_id" placeholder="device_id" required=""/>
          <div ng-messages="Form.device_id.$error" role="alert" multiple="">
            <div ng-message="required" class="my-message">Please enter your device_id.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>ECM_GPS_Number</label>
          <input type="text"  ng-model="gps.ecm_gps_number" placeholder="ecm_gps_number" required=""/>
          <div ng-messages="Form.ecm_gps_number.$error" role="alert" multiple="">
            <div ng-message="required" class="my-message">Please enter your ecm_gps_number.</div>
          </div>
        </md-input-container>
          <md-input-container class="md-block">
          <label>IMEI Number</label>
          <input type="text" name="imei_number" ng-model="gps.imei_number" placeholder="imei_number" required="" />
           <div ng-messages="Form.imei_number.$error" role="alert" multiple="">
            <div ng-message="required" class="my-message">Please enter your imei_number.</div>
          </div>
          
        </md-input-container>



        
        <section layout="row" layout-align="center start">

        <md-button  ng-click="submitGpsForm()" class="md-raised md-primary">&nbsp ADD GPS &nbsp</md-button>




        </section>
          
        </form>
      </div>
    <div flex="25" md-colors="{background: 'Indigo-50'}"></div> 
    </md-content>
  
</div>


<!-- {{company_id ? 'Update Company' : 'Add Company'}} -->





















