<div ng-controller="gpsController" layout="column" style="height: 100vh;overflow:hidden;" ng-init="getGpsList()">
     <md-toolbar class = "md-primary" layout="row" md-scroll-shrink>
        <div class="md-toolbar-tools">
            <md-button navigation ng-click="toggleLeft()" aria-label="menu" class="md-fab md-mini md-accent md-hue-1">
                <md-icon>menu</md-icon>

            </md-button>
         
<h3>GPS List</h3>
        </div>
        <div class="md-toolbar-tools" layout-align="end center">
            <md-button aria-label="menu" class="md-fab md-mini md-accent md-hue-1" ng-href="/admin/gpsform/" layout="row">
                <md-icon>add</md-icon>
            </md-button>
            <a href="/admin/gpsform/">Add New Gps</a>
        </div>
    </md-toolbar>
    <md-content layout="column" style="height:100%">
        <section>
            <md-subheader layout="column" class="md-primary">
                <div layout="row" flex="100">
                    <div flex="5"></div>
                    <div flex="30"><b>DEVICE ID</b></div>
                    <div flex="35"><b>ECM GPS NUMBER</b></div>
                    <div flex="30"><b>IMEI NUMBER</b></div>
                   
                
                </div>
            </md-subheader>

            <md-list>
                <md-list-item class="hover-list" ng-repeat="item in gps_list" style="padding:0 16px;">
                    <div flex="5"></div>
                    <div flex="30">{{item.device_id}}</div>
                    <div flex="35">{{item.ecm_gps_number}}</div>
                    <div flex="30">{{item.imei_number}}</div>
          
                   
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </section>
    </md-content>

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
        <md-toolbar class = "md-primary" layout="row" layout-align="end center">
            Super Admin !
            <md-button ng-click="toggleLeft()" aria-label="menu">
                <md-icon>arrow_back</md-icon>
            </md-button>
        </md-toolbar>
        <md-content>
            <md-menu-content>
                <md-menu-item layout-padding>
                    <md-button ng-href="/admin/company/0/">
                        <md-icon md-menu-align-target>add</md-icon>
                        Add Company
                    </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item layout-padding>
                    <md-button ng-href="/admin/company/0/">
                        <md-icon md-menu-align-target>email</md-icon>
                        Inbox
                    </md-button>
                </md-menu-item>

                 <md-menu-divider></md-menu-divider>
                <md-menu-item layout-padding>
                    <md-button ng-href="/admin/gpsform/">
                        <md-icon md-menu-align-target>Add Gps</md-icon>
                        Add GPsForm
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-content>

    </md-sidenav>
</div>