
<div ng-controller="driverController"  layout="column"  ng-cloak-class="md-inline-form" style="min-height:100%;overflow:hidden;">

	<md-toolbar class = "md-primary" layout="row">
		<div class="md-toolbar-tools">
			<md-button aria-label="menu" class="md-fab md-mini md-accent md-hue-1" ng-href="/company/driverlist/" layout="row">
				<md-icon>arrow_back</md-icon>
			</md-button>
			<h3>Add New Drivers</h3>
		</div>
	</md-toolbar> 
	<md-content layout="row" >
		<div flex="20" md-colors="{background: 'Indigo-50'}"></div>
		<div flex="60" layout-padding>
			<form name="userForm">

	<script type="text/ng-template" id="generic-messages">
						<p ng-message="required">This field is required.</p>
						<p ng-message="minlength">This field is too short.</p>
						<p ng-message="maxlength">This field is too long.</p>
						<div ng-message="compareTo">Must match the previous entry</div>
					</script> 

					<div layout="row">
						<md-input-container flex="40" class="md-block" flex-gt-xs>
							<label>Driver Name</label>
							<!-- <md-icon>perm_identity</md-icon>  -->
							<input  name="name" ng-model="driver.name" ng-minlength="3" ng-maxlength="50" ng-pattern="/^[a-z0-9\.\s]+$/i" required>
							<div ng-messages="userForm.name.$error" ng-show="         userForm.name.$dirty">
								<p ng-message="pattern">Name can only be alphanumeric with an optional dot and spaces.</p>
								<p ng-message="minlength">Name cannot be less than 2 characters.</p>
								<p ng-message="maxlength">Name cannot be longer than 50 characters.</p>
								<div ng-messages-include="generic-messages"></div>
							</div> 

						</md-input-container>
					<div flex="20"></div>
					<md-input-container flex="40" class="md-block" flex-gt-xs>
							<label>Driver Id</label>
							<!-- <md-icon>perm_identity</md-icon>  -->
							<input  name="driver_id" ng-model="driver.driver_id" ng-minlength="3" ng-maxlength="10"  required>
							<div ng-messages="userForm.driver_id.$error" ng-show="         userForm.driver_id.$dirty">
								<p ng-message="pattern">Id can only be alphanumeric with an optional dot and spaces.</p>
								<p ng-message="minlength">DriverId cannot be less than 3 characters.</p>
								<p ng-message="maxlength">DriverId cannot be longer than 10 characters.</p>
								<div ng-messages-include="generic-messages"></div>
							</div> 

						</md-input-container>
					
				</div>

				<div layout="row">
					<md-input-container flex="40" class="md-block">
						<label>Driver Username</label>

						<input name="userName" ng-model="driver.user_name" ng-minlength="4" ng-maxlength="20" ng-pattern="/^\w+$/i" required>
						<div ng-messages="userForm.userName.$error" ng-show="userForm.userName.$dirty">
							<p ng-message="pattern">Username can only be alphanumeric with an optional underscore.</p>
							<p ng-message="minlength">Username cannot be less than 4 characters.</p>
							<p ng-message="maxlength">Username cannot be longer than 20 characters.</p>
							<div ng-messages-include="generic-messages"></div>
						</div>
					</md-input-container>

					<div flex="20"></div>
						<md-input-container flex="40" class="md-block">
							<label>Terminal</label>
							<md-select name="driver.terminal" ng-model="driver.terminal" required>
								<md-option value="MISSISAUGA">Missisauga</md-option>
							</md-select>
							<!-- <div class="errors" ng-messages="userForm.terminal.$error">
								<div ng-message="required">Required</div>
							</div> -->
						</md-input-container>
					</div>

					<div layout="row">
					<md-input-container flex="40" class="md-block">
									<label>Password</label>
									<input type="password" name="password" ng-model="driver.password" required ng-minlength="6" ng-maxlength="20"  required>
									<div ng-messages="userForm.password.$error" ng-show="userForm.password.$dirty">
										<p ng-message="pattern">Password must be alphanumeric with atleast one special character (#?!@$%^&*-).</p>

										<p ng-message="maxlength">Password cannot be longer than 20 characters.</p>
										<div ng-messages-include="generic-messages"></div>
									</div>
								</md-input-container>

						<div flex="20"></div>
						<md-input-container flex="40" class="md-block">
							<label> License Number</label>
							<input ng-model="driver.license_number">
						</md-input-container>
					</div>


					<div layout="row">
						
						<md-input-container flex="40" class="md-block">
							<label> Confirm Password</label>
							<input type="password" name="confirm_password" ng-model="driver.confirm_password" ng-pattern="{{driver.password}}" required>
							<div ng-messages="userForm.confirm_password.$error" ng-show="userForm.confirm_password.$dirty">
								<p ng-message="pattern">Password not matching.</p>
								<div ng-messages-include="generic-messages"></div>
							</div>
						</md-input-container>

						<div flex="20"></div>
						<md-input-container flex="40" class="md-block">
							<label>License Province</label>
							<!-- <md-icon>perm_identity</md-icon>  -->
							<input  name="license_province" ng-model="driver.license_province" ng-minlength="2" ng-maxlength="2" placeholder='only two digit'  required>
							<div ng-messages="userForm.license_province.$error" ng-show="         userForm.license_province.$dirty">
								<p ng-message="pattern">licenseProvince can only be alphanumeric with an optional dot and spaces.</p>
								<p ng-message="minlength">licenseProvince cannot be less than 2 characters.</p>
								<p ng-message="maxlength">licenseProvince cannot be longer than 2 characters.</p>
								<div ng-messages-include="generic-messages"></div>
							</div> 

						</md-input-container>
						
					</div>

					<div layout="row">
						<md-input-container flex="40" class="md-block">
							<label>CDN CYCLE</label>
							<md-select name="cdn_cycle" ng-model="driver.cdn_cycle" required>
								<md-option value="7">Seven Day</md-option>
								<md-option value="14">Fourteen Day</md-option>
							</md-select>
							<!-- <div class="errors" ng-messages="userForm.terminal.$error">
								<div ng-message="required">Required</div>
							</div> -->
						</md-input-container>
					
						<div flex="20"></div>
							<md-input-container flex="40" class="md-block">
							<label>US CYCLE</label>
							<md-select name="us_cycle" ng-model="driver.us_cycle" required>
								<md-option value="7">Seven Day</md-option>
								<md-option value="8">Eight Day</md-option>
							</md-select>
							<div class="errors" ng-messages="userForm.terminal.$error">
								<div ng-message="required">Required</div>
							</div>
						</md-input-container>
					</div>


					<md-input-container class="md-block">
						<!-- <md-icon>phone</md-icon> -->
						<input ng-model="driver.phone" type="text" placeholder="Phone Number">
					</md-input-container>






					<section layout="row" layout-align="center start">
						<md-button class="md-raised md-primary" ng-click="submitDriverForm()">ADD Driver</md-button> 

                        

					</section>

				</form>
			</div>
			<div flex="20" md-colors="{background: 'Indigo-50'}"></div>	
		</md-content>

	</div>


<!-- {{company_id ? 'Update Company' : 'Add Company'}} -->