<div ng-controller="driverController" layout="column" style="height: 100vh;overflow:hidden;" ng-init="getDriverList()">
 <md-toolbar class = "md-primary" layout="row" md-scroll-shrink>
        <div class="md-toolbar-tools">
            <md-button navigation ng-click="toggleLeft()" aria-label="menu" class="md-fab md-mini md-accent md-hue-1">
                <md-icon>menu</md-icon>

            </md-button>  
<h3>Drivers</h3>
        </div>

         <div class="md-toolbar-tools" layout-align="end center">
            <md-button aria-label="menu" class="md-fab md-mini md-accent md-hue-1" ng-href="/company/add/drivers/" layout="row">
                <md-icon>add</md-icon>     
            </md-button>
            <a href="/company/add/drivers/">Add New Driver</a>
        </div>

    </md-toolbar>
    <md-content layout="column" style="height:100%">
        <section>
            <md-subheader layout="column" class="md-primary">
                <div layout="row" flex="100">
                     <div flex="15"><b>Driver Name</b></div>
                    <div flex="20"><b>License Number</b></div>
                    <div flex="15"><b>license Province</b></div>
                    <div flex="15"><b>Cdn Cycle</b></div>
                    <div flex="15"><b>US CYCLE </b></div>
                    <div flex="15"><b>Phone</b></div>
              
                    <div flex="5">&nbsp;</div>
                </div>
            </md-subheader>

            <md-list>
                <md-list-item class="hover-list" ng-repeat="item in driver_list" style="padding:0 16px;">
                    <div flex="15">{{item.name}}</div>
                    <div flex="20">{{item.license_number}}</div>
                    <div flex="15">{{item.license_province}}</div>
                    <div flex="15">{{item.cdn_cycle}}</div>
                    <div flex="15">{{item.us_cycle }}</div>
                    <div flex="15">{{item.phone}}</div>
                  
                
                    <div flex="5">
                        <md-button layout-align="center center" class="md-icon-button" ng-click="signAsSuperuser(item.company_id)"/>
                            <md-icon>arrow_right</md-icon>
                        </md-button>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </section>
    </md-content>

</div>