<div ng-controller="AuthController" layout="column" class="login-bg" style="height: 100vh;overflow:hidden;" layout-align="center center">
    <md-content layout="row" layout-padding="layout-padding">
        <md-card flex>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2><span>Company Logo & Name</span></h2>
                </div>
            </md-toolbar>
            <md-card-content layout="column" layout-align="center center">
                <form name="Form" class="login-form">
                    <md-input-container class="md-block">
                        <label>Login</label>
                        <input type="text" name="user_name" ng-model="formData.user_name" placeholder="username" ng-pattern="/^\w+$/i" required=""/>
                        <div ng-messages="Form.user_name.$error" role="alert" multiple="" ng-show="Form.user_name.$dirty">
                            <p ng-message="required" class="my-message">Please enter your username.</p>
                            <p ng-message="pattern">Username can only be alphanumeric with an optional underscore.</p>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input type="password" name="password" ng-model="formData.password" placeholder="password" required="" ng-maxlength="20"/>
                        <div ng-messages="Form.password.$error" role="alert" multiple="" ng-show="Form.password.$dirty">
                            <p ng-message="required" class="my-message">Please enter your password.</p>
                            <p ng-message="pattern">Password must be alphanumeric with atleast one special character (#?!@$%^&*-).</p>
                            <p ng-message="maxlength">Password cannot be longer than 20 characters.</p>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Alias</label>
                        <input type="text" name="alias" ng-model="formData.alias" placeholder="alias"  required=""/>
                        <div ng-messages="Form.alias.$error" role="alert" multiple="" ng-show="Form.alias.$dirty">
                            <p ng-message="required" class="my-message">Please enter your company alias.</p>
                            <p ng-message="pattern">Alias can only be alphanumeric.</p>
                        </div>
                    </md-input-container>
                    <div layout="row" layout-align="center center">
                    <md-button ng-disabled="!Form.$valid" ng-click="signIn()" class="md-raised md-primary">&nbsp Login &nbsp</md-button>
                    </div>
                </form>
            </md-card-content>
        </md-card>
    </md-content>
</div>