/*********** Login page ************/
.login-bg {
    background: url(../img/login-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.margin-0{
margin:0px 0;
}

.platemargin{
  margin:18px 0 !important;
}
/*label{
  font-size:14px !important;

}
*/


.login-form {
    width: 400px;
}

.md-toast-done .md-toast-content{
    background: #00755b !important;
}

.md-toast-info .md-toast-content{
    background: #d58100 !important;
}

.md-toast-error .md-toast-content{
    background: rgb(193, 30, 23) !important;
}

/*********** superadmin company list page ************/
.hover-list:hover{
    background-color: #E8EAF6;
}

.s36 {
    width: 40px;
    height: 40px;
    color: #00f;
}

.material-icons { color: rgba(70, 10, 174, 0.6); }
.material-icons.md-dark { color: rgba(70, 10, 174, 1); }
md-divider.md-primary{
    border-top-color: rgba(70, 10, 174, 1);
}
.m-lr--8{
    margin-left: -8px;
    margin-right: -8px;
}

.md-subheader.md-primary {
background-color: #FCE4EC; }

.view-animate.ng-enter, .view-animate.ng-leave{
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  display:block;
  width:100%;
  border-left:1px solid black;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
}

.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}