
<div ng-controller="trailerController" layout="column"  ng-cloak-class="md-inline-form" style="min-height: 100vh,overflow:hidden;" ng-init="getTrailerList()">

	<md-toolbar class = "md-primary" layout="row">
		<div class="md-toolbar-tools">
			<md-button aria-label="menu" class="md-fab md-mini md-accent md-hue-1" ng-href="/company/trailerlist/" layout="row">
				<md-icon>arrow_back</md-icon>
			</md-button>
			<h3>Add New Trailer</h3>
		</div>
	</md-toolbar>

	<md-content layout="row" style="height:100%">
		<div flex="20" md-colors="{background: 'Indigo-50'}"></div>
		<div flex="60" layout-padding>
			<form name="userForm">

				<md-input-container class="md-block" flex-gt-xs>
					<label>Trailer Id</label>
			
					<input  name="name" ng-model="trailer.name" ng-minlength="4"  ng-pattern="/^[a-z0-9]+$/i" required >

						<div ng-messages="userForm.name.$error" ng-show="userForm.name.$dirty">
							<p ng-message="pattern">Alias can only be alphanumeric.</p>
							<p ng-message="minlength">Alias cannot be less than 4 characters.</p> 
						</div>
				</md-input-container>



				<md-input-container class="md-block">
					<label>Unit Number</label>
					<input ng-model="trailer.unit_number" required>
				</md-input-container>



				<md-input-container class="md-block">
					<label>Plate Number</label>
					<input ng-model="trailer.plate_number" required>
				</md-input-container>



				<div layout-gt-sm="row" >
					<div flex-gt-xs class="platemargin">
						<label>Plate Expiry</label>
						<md-datepicker ng-model="trailer.epoch" md-placeholder=" Date"></md-datepicker>
					</div>
					<div flex="20"></div>
						<md-input-container flex="40" class="md-block">
						<label> Jurisdiction</label>
						<input ng-model="trailer.jurisdiction" required="">
				        </md-input-container>
					


				</div>

				


				<md-input-container  class="md-block">
					<label>Vin Number</label>
					<input name="vin" ng-model="trailer.vin_number" ng-pattern="/^[a-z0-9]+$/i" required >

						<div ng-messages="userForm.vin.$error" ng-show="userForm.vin.$dirty">
							<p ng-message="pattern">Alias can only be alphanumeric.</p>
						
						</div>
				</md-input-container>

		
				<section layout="row" layout-align="center start">
					<md-button class="md-raised md-primary" ng-click="submitTrailersForm()">ADD TRAILER </md-button> 



				</section>

			</form>
		</div>
		<div flex="20" md-colors="{background: 'Indigo-50'}"></div>	
	</md-content>
	
</div>


<!-- {{company_id ? 'Update Company' : 'Add Company'}} -->