<div ng-controller="trailerController" layout="column" style="height: 100vh;overflow:hidden;" ng-init="getTrailerList()">
 <md-toolbar class = "md-primary" layout="row" md-scroll-shrink>
        <div class="md-toolbar-tools">
            <md-button navigation ng-click="toggleLeft()" aria-label="menu" class="md-fab md-mini md-accent md-hue-1">
                <md-icon>menu</md-icon>

            </md-button>  
<h3>Trailers</h3>
        </div>
   <div class="md-toolbar-tools" layout-align="end center">
            <md-button aria-label="menu" class="md-fab md-mini md-accent md-hue-1" ng-href="/company/add/trailers/" layout="row">
                <md-icon>add</md-icon>
            </md-button>
            <a href="/company/add/trailers/">Add New Trailer</a>
        </div>

    </md-toolbar>
    <md-content layout="column" style="height:100%">
        <section>
            <md-subheader layout="column" class="md-primary">
                <div layout="row" flex="100">
                     <div flex="15"><b>Trailer Id </b></div>
                    <div flex="15"><b>Unit Number</b></div>
                    <div flex="20"><b>Plate Number</b></div>
                    <div flex="15"><b>Jurisdiction</b></div>
                    <div flex="15"><b>Vin Number</b></div>
                    <div flex="15"><b>Plate Expiry</b></div>
                    <div flex="5"><b>&nbsp;</b></div>
              
                    
                </div>
            </md-subheader>

            <md-list>
                <md-list-item class="hover-list" ng-repeat="item in trailer_list" style="padding:0 16px;">
                    <div flex="15">{{item.name}}</div>
                    <div flex="15">{{item.unit_number}}</div>
                    <div flex="20">{{item.plate_number}}</div>
                    <div flex="15">{{item.jurisdiction}}</div>
                    <div flex="15">{{item.vin_number}}</div>
                    <div flex="15">{{item.plate_expiry}}</div>
                  <div flex="5">
                        <md-button layout-align="center center" class="md-icon-button" ng-click=""/>
                            <md-icon>arrow_right</md-icon>
                        </md-button>
                    </div>
                   
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </section>
    </md-content>

 
</div>