<html lang="en" >
<head>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="css/reset.css">

</head>
<body ng-app="truck-mentorize" ng-cloak>

  <md-progress-linear md-mode="loading_bar" ng-show="loading_bar" class="md-accent md-hue-2"></md-progress-linear>

  <div ng-view  class="view-animate"></div>
  <div is-superuser >
 
  <!-- Super admin menus-->

  <md-sidenav navigation class="md-sidenav-left" md-component-id="left" md-whiteframe="4" ng-if="is_superuser">



    <md-toolbar class ="md-primary" layout="row" layout-align="end center" >
      Super Admin !
      <md-button  ng-click="toggleLeft()" aria-label="menu">
        <md-icon>arrow_back</md-icon>
      </md-button>
    </md-toolbar>
    <md-content>
      <md-menu-content>
        <md-menu-item layout-padding>
          <md-button ng-href="/admin/companies/">
            <md-icon md-menu-align-target>list</md-icon>
      
            Company List
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item layout-padding>
          <md-button ng-href="/admin/company/0/">
            <md-icon md-menu-align-target>email</md-icon>
            Inbox
          </md-button>
        </md-menu-item>

          <md-menu-divider></md-menu-divider>
                <md-menu-item layout-padding>
                    <md-button ng-href="/admin/gpslist/">
                        <md-icon>list</md-icon>
                        Gps List
                    </md-button>
                </md-menu-item>

          <md-menu-divider></md-menu-divider>
        <div ng-controller="AuthController">
            <md-menu-item layout-padding>
          <md-button ng-click="logout();toggleLeft()">
            <md-icon md-menu-align-target>visibility</md-icon>
           logout
          </md-button>
        </md-menu-item>
      </div>

      </md-menu-content>
    </md-content>


  </md-sidenav>
  
  <!-- company admin/supervisor menus-->
  <md-sidenav navigation class="md-sidenav-left" md-component-id="left" md-whiteframe="4" ng-if="!is_superuser">
    <div is-company>
   
    <md-toolbar class = "md-primary" layout="row" layout-align="end center">
   {{name}}
      <md-button ng-click="toggleLeft()" aria-label="menu">
        <md-icon>arrow_back</md-icon>
      </md-button>
    </md-toolbar>
    <md-content>

      <md-menu-content>
        <md-menu-item layout-padding>
          <md-button ng-href="/company/driverlist/">
            <md-icon md-menu-align-target>list</md-icon>
             Driver List     
       </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
            <md-menu-item layout-padding>
          <md-button ng-href="/company/trucklist/">
            <md-icon md-menu-align-target>list</md-icon>
          Truck List
          </md-button>
        </md-menu-item>
   

       <md-menu-divider></md-menu-divider>
            <md-menu-item layout-padding>
          <md-button ng-href="/company/trailerlist/">
            <md-icon md-menu-align-target>list</md-icon>
           Trailer List
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <div ng-controller="AuthController">
            <md-menu-item layout-padding >
          <md-button ng-click="logout();toggleLeft()">
            <md-icon md-menu-align-target>visibility</md-icon>
           logout
          </md-button>
        </md-menu-item>
      </div>

        <md-menu-divider></md-menu-divider>
        <div ng-controller="AuthController">
        <div ng-if="superuser_Ascompany" >
            <md-menu-item layout-padding >
            <md-button ng-click="BackAsSuperUser()">
            <md-icon md-menu-align-target>visibility</md-icon>
          Back AS SuperUser
          </md-button>
        </md-menu-item>
   </div>
    </div>
      </md-menu-content>
    </md-content>
  </div>
  </md-sidenav>
 </div>
  </div>
</div>
  <!-- Angular Material requires Angular.js Libraries https://ajax.googleapis.com/-->
  <script src="ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>


  <!-- Angular Material Library -->
  <script src="ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <!-- My JS files -->
  <script src="js/app.js"></script>
  <script src="js/authentication.js"></script>
<!--   <script src="src/super-admin/company/companyController.js"></script> -->
</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at https://material.angularjs.org/license.
-->